

.heading-main
{
 
  margin-left: 3%;
}

@media (max-width:470px){
.heading-main
{
  font-size: 2.2em;
  margin-left: 3%;
}

}
@media (min-width: 470px) and (max-width: 767px){

.heading-main
{
  font-size: 2.6em;
   margin-left: 3%;
}

  }


.cd-container {
  /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
}
.cd-container::after {
  /* clearfix */
  content: '';
  display: table;
  clear: both;
}


#cd-timeline {
  position: relative;
  padding: 2em 0;
  margin-top: 2em;
  margin-bottom: 2em;
}



#cd-timeline::before {
  /* this is the vertical line */
  content: '';
  position: absolute;
  top: 0;
  left: 34px;
  height: 100%;
  width: 5px;
  background: #0371A4;
}





.cd-timeline-content .blue-head
  {
    padding:3.1%;
    background-color: #0371A4;
    color:white;
    margin: 0px;
  }

.cd-timeline-content p
  {
    padding: 3% 3% 1% 3%;
  }


@media only screen and (min-width: 1170px) {
  #cd-timeline {
    margin-top: 3em;
    margin-bottom: 3em;
  }
  #cd-timeline::before {
    left: 50%;
    margin-left: -2px;
  }


  #bluecircle1 /*blue dot*/
{
  left:49.25%;
  top:50px;
  position: relative;
  background-color: #0371A4;
  width:21px;
  height:21px;
  border-radius: 50%;

}


 #bluecircle2 /*blue dot*/
{
  left:49.25%;
bottom: 50px;
  position: relative;
  background-color: #0371A4;
  width:21px;
  height:21px;
  border-radius: 50%;

}


}



.cd-timeline-block {
  height:auto;
  position: relative;
  margin: 2em 0;
}
.cd-timeline-block:after {
  content: "";
  display: table;
  clear: both;
}
.cd-timeline-block:first-child {
  margin-top: 0;
}
.cd-timeline-block:last-child {
  margin-bottom: 0;
}


@media only screen and (min-width: 1171px) {
  .cd-timeline-block {
    margin: 4em 0;
  }
  .cd-timeline-block:first-child {
    margin-top: 0;
  }
  .cd-timeline-block:last-child {
    margin-bottom: 0;
  }
}

/*upto here ok*/
.cd-timeline-img {
 -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}


/*image view at full width*/
.cd-timeline-img .img-container {
 position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.cd-timeline-img .img-container img
{
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}



#macspic,#mixedsignalspic,#emfpic,#yipic,#illuminatipic,#ietepic,#thanalpic,#nsspic,#eljuegopic,
#checkmatepic,#debatepic
{
  border-radius: 26%;
}


@media (max-width:699px){

#cd-timeline::before {
left:18px;

}


.cd-timeline-img {
  position: absolute;
  top: 0;
  left: 0;
  margin-left:-8px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0 0 0 5px #0371A4, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
}


  .img-container
  {
      width: 45px;
    height: 45px;
  }

/*image view at full width*/
.cd-timeline-img img {
  display: block;
 
  position: relative;
  
  /*changed*/
  

  margin-left: 0px;
  margin-top: 0px;
}

}


@media (min-width: 700px) and (max-width: 1170px){
/*image view small*/
.cd-timeline-img {
  position: absolute;
  top: 0;
  left: 0;
  margin-left:-8px;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0 0 0 5px #0371A4, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
}


  .img-container
  {
     width: 75px;
    height: 75px;
  }

/*image view at full width*/
.cd-timeline-img img {
  display: block;
  
  position: relative;
  
  /*changed*/
  

  margin-left: 0px;
  margin-top: 0px;
}

}


@media only screen and (min-width: 1171px) {
  /*image view at full width*/
  .cd-timeline-img {
     position: absolute;
    top: 0;
    
    width: 129px;
    height: 129px;
    left: 50%;
    margin-left: -64px;
    border-radius: 50%;
  background-color: white;
  box-shadow: 0 0 0 5px #0371A4, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
  }
  

  .img-container
  {
     width: 110px;
    height: 110px;
  }

  .cd-timeline-img img {
  display: block;
  
  position: relative;
 
  /*changed*/
  

  margin-left: 0px;
  margin-top: 0px;
}



  .cssanimations .cd-timeline-img.is-hidden {
    visibility: hidden;
  }
  .cssanimations .cd-timeline-img.bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-1 0.6s;
    -moz-animation: cd-bounce-1 0.6s;
    animation: cd-bounce-1 0.6s;
  }
}



@-webkit-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
  }
}
@-moz-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -moz-transform: scale(0.5);
  }

  60% {
    opacity: 1;
    -moz-transform: scale(1.2);
  }

  100% {
    -moz-transform: scale(1);
  }
}
@keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}

.cd-timeline-content .cd-read-more {
    float: left;
    margin:5px 15px 15px 15px;
  }



.cd-timeline-content {
  position: relative;
  
  margin-left: 70px;

  background: white;
  border-radius: 0.25em;
  padding: 0px;
  box-shadow: 0 3px 0 #d7e4ed;
}



@media (min-width:700px) and (max-width:1170px) {
.cd-timeline-content {
  position: relative;
  
  margin-left: 100px;

  background: white;
  border-radius: 0.25em;
  padding: 0px;
  box-shadow: 0 3px 0 #d7e4ed;
}
}




.cd-timeline-content:after {
  content: "";
  display: table;
  clear: both;
}


.cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
  display: inline-block;
}

/*read more*/
.cd-timeline-content .cd-read-more {

  float: right;
  padding: .8em 1em;
  background: #0371A4;
  color: white;
  border-radius: 0.25em;
}
.no-touch .cd-timeline-content .cd-read-more:hover {
  background-color: rgb(220,220,220);
  font-weight: bold;
  color:#0371A4;
}

.cd-timeline-content::before {
  content: '';
  position: absolute;
  top: 16px;
  right: 100%;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-right: 7px solid #0371A4;
}



@media only screen and (min-width: 1171px) {
  .cd-timeline-content {
    
    padding:0px;
    width: 45%;
  }

  .left
  {
    margin-left:-20px;
  }

  .right
  {
    margin-right:-20px;
  }


  .cd-timeline-content p
  {
    padding: 3% 3% 1% 3%;
  }
  .cd-timeline-content::before {
    top: 24px;
    left: 100%;
    border-color: transparent;
    border-left-color:#0371A4;
  }
  .cd-timeline-content .cd-read-more {
    float: left;
    margin:5px 15px 15px 15px;
  }

  
  .cd-timeline-block:nth-child(even) .cd-timeline-content {
    float: right;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content::before {
    top: 24px;
    left: auto;
    right: 100%;
    border-color: transparent;
    border-right-color: #0371A4;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-read-more {
    float: right;
  }
  
  .cssanimations .cd-timeline-content.is-hidden {
    visibility: hidden;
  }
  .cssanimations .cd-timeline-content.bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-2 0.6s;
    -moz-animation: cd-bounce-2 0.6s;
    animation: cd-bounce-2 0.6s;
  }

  /* inverse bounce effect on even content blocks */
  .cssanimations .cd-timeline-block:nth-child(even) .cd-timeline-content.bounce-in {
    -webkit-animation: cd-bounce-2-inverse 0.6s;
    -moz-animation: cd-bounce-2-inverse 0.6s;
    animation: cd-bounce-2-inverse 0.6s;
  }
}


@media only screen and (min-width: 1170px) {
  /* inverse bounce effect on even content blocks */
  .cssanimations .cd-timeline-block:nth-child(even) .cd-timeline-content.bounce-in {
    -webkit-animation: cd-bounce-2-inverse 0.6s;
    -moz-animation: cd-bounce-2-inverse 0.6s;
    animation: cd-bounce-2-inverse 0.6s;
  }
}



@-webkit-keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
  }

  100% {
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -moz-transform: translateX(-100px);
  }

  60% {
    opacity: 1;
    -moz-transform: translateX(20px);
  }

  100% {
    -moz-transform: translateX(0);
  }
}
@keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
    -moz-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    -o-transform: translateX(-100px);
    transform: translateX(-100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    -ms-transform: translateX(20px);
    -o-transform: translateX(20px);
    transform: translateX(20px);
  }

  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
  }

  100% {
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -moz-transform: translateX(100px);
  }

  60% {
    opacity: 1;
    -moz-transform: translateX(-20px);
  }

  100% {
    -moz-transform: translateX(0);
  }
}
@keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
    -moz-transform: translateX(100px);
    -ms-transform: translateX(100px);
    -o-transform: translateX(100px);
    transform: translateX(100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    -o-transform: translateX(-20px);
    transform: translateX(-20px);
  }

  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}



